<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->


<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <h3 class="section-header">
    网站代码库
  </h3>

  <p><a href="https://github.com/ellekasai/shiori" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> View on GitHub &rarr;</a></p>

  <h3>
    momo's BLOG
  </h3>

  <p>
    <div class="media">

      <img src="https://raw.githubusercontent.com/minkooz/minkooz.github.io/master/_pic/avatar.PNG" alt="MoZhang" class="pull-left">
      <div class="media-body">
       <!--  -->
          <h4 class="media-heading"></h4>
      </div>
    </div>
  </p>

  <p><a href="https://twitter.com/minkozh" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true" data-dnt="true" data-size="large">Follow @minkooz</a></p>

</div>

<h3>
  可定制的主题页
</h3>

<p><button data-purplecoat-toggle="shiori" class="btn btn-default"><i class="fa fa-toggle-on"></i> Toggle Customizable</button></p>

<p>&uarr; Powered by <a href="http://ellekasai.github.io/purplecoat.js" target="_blank">Purplecoat</a>.</p>
